.spacer {
   float: left;
   width: 100%;
}

.size1 { composes: spacer; height: 6px; }
.size2 { composes: spacer; height: 12px; }
.size3 { composes: spacer; height: 18px; }
.size4 { composes: spacer; height: 24px; }
.size5 { composes: spacer; height: 30px; }
.size6 { composes: spacer; height: 36px; }
.size7 { composes: spacer; height: 42px; }
.size8 { composes: spacer; height: 48px; }
.size9 { composes: spacer; height: 54px; }
.size10 { composes: spacer; height: 60px; }
