.uppercase { text-transform: uppercase; }

.editable {
   color: #BBBBBB;
   cursor: pointer;

   &:hover {
      color: #888;
   }
}

//============================================================================
// Font Weights
//============================================================================

.light    { font-weight: 300; }
.normal   { font-weight: 400; }
.medium   { font-weight: 500; }
.semibold { font-weight: 600; }
.bold     { font-weight: 700; }

//============================================================================
// Size A
//============================================================================

@media screen and (min-width: 0px) {
   .textSize10 {
      font-size: 42px;
      line-height: 42px;
   }

   .textSize9 {
      font-size: 36px;
      line-height: 1.1em;
   }

   .textSize8 {
      font-size: 30px;
      line-height: 1.2em;
   }

   .textSize7 {
      font-size: 24px;
      line-height: 1.2em;
   }

   .textSize6 {
      font-size: 21px;
      line-height: 1.2em;
   }

   .textSize5 {
      font-size: 19px;
      line-height: 23px;
   }

   .textSize4 {
      font-size: 17px;
      line-height: 22px;
   }

   .textSize3 {
      font-size: 15px;
      line-height: 21px;
   }

   .textSize2 {
      font-size: 13px;
      line-height: 17px;
   }

   .textSize1 {
      font-size: 10px;
      line-height: 16px;
   }

}

//============================================================================
// Size B
//============================================================================

@media screen and (min-width: 768px) {
   .textSize10 {
      font-size: 51px;
      line-height: 1.1em;
   }

   .textSize9 {
      font-size: 42px;
      line-height: 42px;
   }

   .textSize8 {
      font-size: 36px;
      line-height: 1.2em;
   }

   .textSize7 {
      font-size: 30px;
      line-height: 1.2em;
   }

   .textSize6 {
      font-size: 24px;
      line-height: 30px;
   }

   .textSize5 {
      font-size: 19px;
      line-height: 23px;
   }

   .textSize4 {
      font-size: 17px;
      line-height: 22px;
   }

   .textSize3 {
      font-size: 15px;
      line-height: 21px;
   }

   .textSize2 {
      font-size: 13px;
      line-height: 17px;
   }

   .textSize1 {
      font-size: 10px;
      line-height: 16px;
   }

}

//============================================================================
// Size C
//============================================================================

@media screen and (min-width: 992px) {
   .textSize10 {
      font-size: 56px;
      line-height: 1.1em;
   }

   .textSize9 {
      font-size: 48px;
      line-height: 48px;
   }

   .textSize8 {
      font-size: 42px;
      line-height: 1.2em;
   }

   .textSize7 {
      font-size: 34px;
      line-height: 1.2em;
   }

   .textSize6 {
      font-size: 25px;
      line-height: 30px;
   }

   .textSize5 {
      font-size: 19px;
      line-height: 23px;
   }

   .textSize4 {
      font-size: 17px;
      line-height: 22px;
   }

   .textSize3 {
      font-size: 15px;
      line-height: 21px;
   }

   .textSize2 {
      font-size: 13px;
      line-height: 17px;
   }

   .textSize1 {
      font-size: 10px;
      line-height: 16px;
   }

}

//============================================================================
// Size D
//============================================================================

@media screen and (min-width: 1300px) {
   .textSize10 {
      font-size: 78px;
      line-height: 78px;
   }

   .textSize9 {
      font-size: 56px;
      line-height: 1.1em;
   }

   .textSize8 {
      font-size: 45px;
      line-height: 1.2em;
   }

   .textSize7 {
      font-size: 34px;
      line-height: 1.2em;
   }

   .textSize6 {
      font-size: 25px;
      line-height: 30px;
   }

   .textSize5 {
      font-size: 19px;
      line-height: 23px;
   }

   .textSize4 {
      font-size: 17px;
      line-height: 22px;
   }

   .textSize3 {
      font-size: 15px;
      line-height: 21px;
   }

   .textSize2 {
      font-size: 13px;
      line-height: 17px;
   }

   .textSize1 {
      font-size: 10px;
      line-height: 16px;
   }

}

//============================================================================
// Size E
//============================================================================

@media screen and (min-width: 1650px) {
   .textSize10 {
      font-size: 78px;
      line-height: 78px;
   }

   .textSize9 {
      font-size: 56px;
      line-height: 1.1em;
   }

   .textSize8 {
      font-size: 45px;
      line-height: 1.2em;
   }

   .textSize7 {
      font-size: 34px;
      line-height: 1.2em;
   }

   .textSize6 {
      font-size: 25px;
      line-height: 30px;
   }

   .textSize5 {
      font-size: 19px;
      line-height: 23px;
   }

   .textSize4 {
      font-size: 17px;
      line-height: 22px;
   }

   .textSize3 {
      font-size: 15px;
      line-height: 21px;
   }

   .textSize2 {
      font-size: 13px;
      line-height: 17px;
   }

   .textSize1 {
      font-size: 10px;
      line-height: 16px;
   }
}
