//============================================================================
// Font Weights
//============================================================================

.light    { font-weight: 300; }
.normal   { font-weight: 400; }
.medium   { font-weight: 500; }
.semibold { font-weight: 600; }
.bold     { font-weight: 700; }

//============================================================================
// Size A
//============================================================================

@media screen and (min-width: 0px) {
   .uiTextSize10 {
      font-size: 42px;
      line-height: 42px;
   }

   .uiTextSize9 {
      font-size: 36px;
      line-height: 1.1em;
   }

   .uiTextSize8 {
      font-size: 30px;
      line-height: 1.2em;
   }

   .uiTextSize7 {
      font-size: 24px;
      line-height: 1.2em;
   }

   .uiTextSize6 {
      font-size: 21px;
      line-height: 1.2em;
   }

   .uiTextSize5 {
      font-size: 19px;
      line-height: 23px;
   }

   .uiTextSize4 {
      font-size: 17px;
      line-height: 22px;
   }

   .uiTextSize3 {
      font-size: 15px;
      line-height: 21px;
   }

   .uiTextSize2 {
      font-size: 13px;
      line-height: 17px;
   }

   .uiTextSize1 {
      font-size: 11px;
      line-height: 16px;
   }

}

//============================================================================
// Size B
//============================================================================

@media screen and (min-width: 768px) {
   .uiTextSize10 {
      font-size: 51px;
      line-height: 1.1em;
   }

   .uiTextSize9 {
      font-size: 42px;
      line-height: 42px;
   }

   .uiTextSize8 {
      font-size: 36px;
      line-height: 1.2em;
   }

   .uiTextSize7 {
      font-size: 30px;
      line-height: 1.2em;
   }

   .uiTextSize6 {
      font-size: 24px;
      line-height: 30px;
   }

   .uiTextSize5 {
      font-size: 19px;
      line-height: 23px;
   }

   .uiTextSize4 {
      font-size: 17px;
      line-height: 22px;
   }

   .uiTextSize3 {
      font-size: 15px;
      line-height: 21px;
   }

   .uiTextSize2 {
      font-size: 13px;
      line-height: 17px;
   }

   .uiTextSize1 {
      font-size: 11px;
      line-height: 16px;
   }

}

//============================================================================
// Size C
//============================================================================

@media screen and (min-width: 992px) {
   .uiTextSize10 {
      font-size: 56px;
      line-height: 1.1em;
   }

   .uiTextSize9 {
      font-size: 48px;
      line-height: 48px;
   }

   .uiTextSize8 {
      font-size: 42px;
      line-height: 1.2em;
   }

   .uiTextSize7 {
      font-size: 34px;
      line-height: 1.2em;
   }

   .uiTextSize6 {
      font-size: 25px;
      line-height: 30px;
   }

   .uiTextSize5 {
      font-size: 19px;
      line-height: 23px;
   }

   .uiTextSize4 {
      font-size: 17px;
      line-height: 22px;
   }

   .uiTextSize3 {
      font-size: 15px;
      line-height: 21px;
   }

   .uiTextSize2 {
      font-size: 13px;
      line-height: 17px;
   }

   .uiTextSize1 {
      font-size: 11px;
      line-height: 16px;
   }

}

//============================================================================
// Size D
//============================================================================

@media screen and (min-width: 1300px) {
   .uiTextSize10 {
      font-size: 78px;
      line-height: 78px;
   }

   .uiTextSize9 {
      font-size: 56px;
      line-height: 1.1em;
   }

   .uiTextSize8 {
      font-size: 45px;
      line-height: 1.2em;
   }

   .uiTextSize7 {
      font-size: 34px;
      line-height: 1.2em;
   }

   .uiTextSize6 {
      font-size: 25px;
      line-height: 30px;
   }

   .uiTextSize5 {
      font-size: 19px;
      line-height: 23px;
   }

   .uiTextSize4 {
      font-size: 17px;
      line-height: 22px;
   }

   .uiTextSize3 {
      font-size: 15px;
      line-height: 21px;
   }

   .uiTextSize2 {
      font-size: 13px;
      line-height: 17px;
   }

   .uiTextSize1 {
      font-size: 11px;
      line-height: 16px;
   }

}

//============================================================================
// Size E
//============================================================================

@media screen and (min-width: 1650px) {
   .uiTextSize10 {
      font-size: 78px;
      line-height: 78px;
   }

   .uiTextSize9 {
      font-size: 56px;
      line-height: 1.1em;
   }

   .uiTextSize8 {
      font-size: 45px;
      line-height: 1.2em;
   }

   .uiTextSize7 {
      font-size: 34px;
      line-height: 1.2em;
   }

   .uiTextSize6 {
      font-size: 25px;
      line-height: 30px;
   }

   .uiTextSize5 {
      font-size: 19px;
      line-height: 23px;
   }

   .uiTextSize4 {
      font-size: 17px;
      line-height: 22px;
   }

   .uiTextSize3 {
      font-size: 15px;
      line-height: 21px;
   }

   .uiTextSize2 {
      font-size: 13px;
      line-height: 17px;
   }

   .uiTextSize1 {
      font-size: 11px;
      line-height: 16px;
   }
}
