.OIO {
   display: block;
}

:global {
   button {
      border: none;
      outline: none;
      background: none;
   }
   input, textarea {
      border: none;
      outline: none;
      background: none;
      -webkit-appearance: none;
   }
   p {
      margin: 0;
      margin-bottom: 1em;
   }
}
