@import '../../foundation/mixins';

.container {
   margin-bottom: 12px;
}

.description {
   .uiTextSize2;
   color: #454545;
   margin-top: 3px;
}

.lab {
   margin-bottom: 12px;
}

.error {
   .uiTextSize2;
   color: #DD3300;
   margin-top: 6px;
}

// =====================
// SWITCHES
// =====================

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 30px;
}

.switch input {
   display: none;
}

.switchSlider {
  position: absolute;
  cursor: pointer;
  top: 6px;
  left: 0;
  right: 0;
  bottom: 6px;
  border-radius: 30px;
  background-color: @uiBaseBorderColor;
  -webkit-transition: .2s;
  transition: .2s;
  border: 1px solid #DFDFDF
}

.switchSlider:before {
  position: absolute;
  content: '';
  height: 24px;
  width: 24px;
  left: -4px;
  bottom: -4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
  box-shadow: 0 0px 2px rgba(0,0,0,0.34), 0 3px 4px rgba(0,0,0,0.20);
}

.switch input:checked + .switchSlider:before {
   background-color: #60787B;
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

// =====================
// FILES
// =====================

.files {
   text-align: center;
   color: #A8A8A8;
   background-color: #FEFEFE;
   position: relative;
   // height: @uiBaseComponentHeightMedium;
   line-height: @uiBaseComponentHeightMedium - 15px;
   padding: 50px;
   border: 1px dashed #DFDFDF;
   box-sizing: border-box;
   cursor: copy;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   border-radius: 6px;
   overflow: hidden;
}

.filesImageContainer {
   position: relative;
   height: 150px;
   width: 150px;
   border: 2px solid #ddd;
   cursor: copy;
   border-radius: 6px;
   overflow: hidden;

}

.filesImage {
   max-height: 100%;
   max-width: 100%;
   width: auto;
   height: auto;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}

.filesActive {
   border-color: lightgreen;
   color: lightgreen;
}
