@keyframes showOverlay {
   from { opacity: 0; }
     to { opacity: 1; }
}

@keyframes scaleIn {
   0% { opacity: 0;}
   25% { opacity: 0; transform: scale(0.9); }
   100% { opacity: 1; transform: scale(1); }
}

@keyframes slideFromBottom {
   0% { opacity: 0; transform: translateY(100%) scale(1); }
   25% { opacity: 0.8; transform: translateY(100%) scale(1); }
   100% { opacity: 1; transform: translateY(0) scale(1); }
}

.scaleIn {
   animation-duration: 400ms;
   animation-name: scaleIn;
   animation-timing-function: ease-out;
}

.slideFromBottom {
   animation-duration: 900ms;
   animation-name: slideFromBottom;
   animation-timing-function: ease-out;
}

// =====================================================
// Window Overlay
// =====================================================

.modalOverlay {
   position: fixed;
   top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
   z-index: 999;
   background: rgba(12,15,20,0.97);
   animation-duration: 400ms;
   animation-name: showOverlay;
   animation-timing-function: ease-out;
   -webkit-backface-visibility: hidden;
   opacity: 1;
   overflow: auto;
}

// =====================================================
// Modal Window
// =====================================================

.modalWindow {
   -webkit-backface-visibility: hidden;
   animation-timing-function: ease-out;
   background: #fff;
}

.positionAtMiddleAndCenter {
   position: absolute;
   top: 50%;
   left: 50%;
}

.positionAtTopCenter {
   margin: auto;
}

.positionFill {
   position: absolute;
}

// =====================================================
// Close Button
// =====================================================

.closeButton {
   position: fixed;
   top: 30px;
   right: 30px;
   font-size: 60px;
   line-height: 60px;
   width: 60px;
   height: 60px;
   border-radius: 50%;
   text-align: center;
   color: #666;
   transition: 300ms;

   &:hover {
      color: #fff;
      background: #222;
   }
}
