@import '../../../foundation/mixins';

@uiBaseBorderColor2: #DFDFDF;
@uiBasePlaceholderColor: #A8A8A8;
@uiBaseDescription: #454545;

.input {
   color: rgba(0, 0, 0, 0.87);
   -webkit-appearance: none;
   margin: 0;
   background: none;
   outline: none;
   display: block;
   width: 100%;
   height: @uiBaseComponentHeightMedium;
   //.rounded(@uiBaseComponentRadius);
   .uiTextSize3;
   line-height: @uiBaseComponentHeightMedium - 13px;
   padding: 10px 10px 10px 10px;
   .transition(300ms);
   //border: none;
   border: 1px solid @uiBaseBorderColor2;
   border-radius: 3px;

   &:focus {border: 1px solid #aaa;}

   &.error {
      background-color: #FFF7F7;
      border: 1px solid #DD3300;
   }
}

input::placeholder  {
   color: @uiBasePlaceholderColor;
}
