@import '../../../foundation/mixins';

@uiBaseBorderColor2: #DFDFDF;
@uiBasePlaceholderColor: #A8A8A8;

.textarea {
   -webkit-appearance: none;
   margin: 0;
   background: none;
   outline: none;
   display: block;
   width: 100%;
   .rounded(@uiBaseComponentRadius);
   .uiTextSize3;
   padding: 10px 10px;
   .transition(300ms);
   border: 1px solid @uiBaseBorderColor2;

   &:focus { border: 1px solid #aaa; }
   &:disabled { opacity: 0.5; }

   &.error {
      background-color: #FFF7F7;
      border: 1px solid #DD3300;
   }
}

.textarea::placeholder {
   color: @uiBasePlaceholderColor;
}
